<div class="fixed bg-header sidebar flex align-start">
  <ul class="flex direction-column vh-50 vw-100 justify-space-around">
    <li class="flex text text-xl font-bold text-timberwolf pointer"><span class="p-15">Mega-Sena</span></li>
    <li class="flex text text-xl font-bold text-timberwolf pointer"><span class="p-15">Quina</span></li>
    <li class="flex text text-xl font-bold text-timberwolf pointer"><span class="p-15">Lotofácil</span></li>
    <li class="flex text text-xl font-bold text-timberwolf pointer"><span class="p-15">Saiba Mais</span></li>
  </ul>
</div>