<div
  class="w-250 h-300 rounded-md bg-secondary border-dashed border-2 border-green-200 card flex direction-column"
>
  <div
    class="vw-100 h-40 bg-items rounded-md-top flex justify-center align-center"
  >
    <span class="font-bold text-white"
      >{{ card.textTitle }}
      <small class="text-sm">({{ card.textNumber }} dez)</small></span
    >
  </div>
  <div class="vw-100 flex direction-column flex-1">
    <div class="p-10 flex justify-center">
      <span class="font-bold text-black">{{ card.textDescription }}</span>
    </div>

    <div class="flex direction-column flex-1 justify-space-evenly pl-20">
      <span class="text-sm font-bold text-black"
        >Concurso: <span class="font-normal">{{ "54" }}</span></span
      >
      <span class="text-sm font-bold text-black"
        >Sorteio:
        <span class="font-normal">{{ "03/06/2023 20h00" }}</span></span
      >
      <span class="text-sm font-bold text-black"
        >Estimativa:
        <span class="font-normal">{{ "R$ 48.000.000,00" }}</span></span
      >
    </div>
  </div>
  <div class="flex justify-center p-10">
    <button
      type="button"
      class="btn bg-items border-green-200 text-white h-36 w-100"
    >
      {{ card.textButton }}
    </button>
  </div>
</div>
