<div class="vw-100">
  <div class="flex justify-space-between">
    <div>
      <h1 class="text-3xl font-bold text-green-300">Faça sua aposta</h1>
      <span class="text-sm"
        >Escolha de {{ contestDataActive.minNumber }} a
        {{ contestDataActive.maxNumber }} números dos
        {{ contestDataActive.sizeTotal }} disponíveis. <br />São realizados dois
        sorteios semanais para você apostar e torcer para ficar
        milionário.</span
      >
    </div>
    <div class="flex direction-column">
      <h2 class="text-xl font-bold">Concurso n° 235</h2>
      <span class="text-sm"
        ><strong>Encerramento das apostas:</strong>
        {{ contest.dataProxConcurso }} 19:00</span
      >
      <span class="text-sm"
        ><strong>Data do sorteio:</strong>
        {{ contest.dataProxConcurso }} 20:00</span
      >
      <span class="text-sm"
        ><strong>Estimativa de prêmio:</strong>
        {{ contest.acumuladaProxConcurso }}</span
      >
    </div>
  </div>
</div>
